
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <%= link_to 'Navbars', website_navbars_path(@website, locale: I18n.locale), class:"nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Pages', website_pages_path(@website, locale: I18n.locale), class:"nav-link"%>
    </li>
    <li class="nav-item">
      <% if has_blog?(@website) %>
        <%= link_to 'Blog', website_blogs_path(@website, locale: I18n.locale), class:"nav-link"%>
      <% else %>
        <%= link_to 'Blog', new_website_blog_path(@website, locale: I18n.locale), class:"nav-link"%>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to 'Widgets', website_navbars_path(@website, locale: I18n.locale), class:"nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Dev View/Guest Views', website_navbars_path(@website, locale: I18n.locale), id: "hide" ,class:"nav-link"%>
    </li>
  </ul>


  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <%= link_to 'My Profile', edit_user_registration_path(locale: I18n.locale), class:"nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to 'My Other Sites', websites_path(locale: I18n.locale), class:"nav-link"%>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Another nav item</a>
    </li>
  </ul>
