
<%= form_for(@widget, url:website_page_widget_path(@widgetable.website, @widgetable, @widget, locale: I18n.locale) ) do |f| %>
  <div class="form-group ">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group ">
    <%= f.label :col_span %>
    <%= f.text_field :col_span, class: 'form-control' %>
  </div>

  <div class="form-group " id="text-fields" >
    <%= f.label :content, 'Content'%>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit t('.post_widget'), class: 'btn btn-primary' %>
  </div>
<% end %>
