<div class="page_layout_1">
  <p>
    <strong>Website:</strong>
    <%= @page.website %>
  </p>

  <p>
    <strong>Layout:</strong>
    <%= image_tag @page.layout.image unless @page.layout.nil? %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @page.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @page.content %>
  </p>

  <%= link_to fa_icon('edit 2x'), edit_website_page_path(@website, @page, locale: I18n.locale) %> |
  <%= link_to fa_icon('arrow-circle-left 2x'), website_pages_path(@website, locale: I18n.locale) %>

</div>
