<h2><%= t('.Pages') %></h2>

<hr>

<div>
  <% @pages.each do |page| %>
    <div class="content">
      <p><%= page.website %></p>
      <p><%= page.title %></p>
      <p><%= page.content %></p>
      <p><%= link_to t('show'), website_page_path(@website, page, locale: I18n.locale) %></p>
      <p><%= link_to t('edit'), edit_website_page_path(@website, page,locale: I18n.locale), id:"edit_#{page.id}" %></p>
      <p><%= link_to t('delete'), website_page_path(@website, page, locale: I18n.locale), id:"delete_#{page.id}", method: :delete, data: { confirm: t('are_you_sure') } %></p>
    </div>
  <% end %>
</div>

<br>

<%= link_to fa_icon('plus 2x'), new_website_page_path( @website, locale:I18n.locale), id:"add_page" %>
