<% if @page.layout.nil? %>
  <%= render "layout1" , locals: @page %>
<% else %>
  <%= render "#{@page.layout.name}" , locals: @page %>
<% end %>

<%= render 'widgets/widget_form' %>

<div class="row sortable" id="widgets" data-page-id="<%= @page.id %>">
  <%= render @page.widgets %>
</div>
