<% if @navbar.errors.any? %>
  <% @navbar.errors.full_messages.each do |error| %>
    <li><%= alert_generator error %></li>
  <% end %>
<% end %>
<div class="from-group">
  <%= f.label :title %>
  <%= f.text_field :title, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :nav_style_id, t(".style") %>
  <%= f.collection_radio_buttons(:nav_style_id, NavStyle.all, :id, :name, {class:"form-control"})  %>
</div>
<div class="form-group">
  <%= f.radio_button :position, :main %>
  <%= f.label :position, t(".main")%>

  <%= f.radio_button :position, :footer %>
  <%= f.label :position, t(".footer")%>
</div>
