<!--- TO DO
Add the correct style for the navbar -->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-danger blog-nav nav-style1" id="main_nav">
  <button class="navbar-toggler navbar-toggler-right" type="button"
    data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <%= link_to "Logo goes here", root_path, class:"navbar-brand h3"%>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-link"><%= navbar.position%> - <%= navbar.title %></li>
        <%= main_nav(@website) %>
        <li><%= link_to t('websites.show.edit_nav'), edit_website_navbar_path(@website, navbar, locale:I18n.locale), class:"nav-link"%></li>
        <li> <%= link_to t('delete'), website_navbar_path(@website, navbar, locale: I18n.locale), method: :delete, data: { confirm: t('are_you_sure') }, class:"nav-link" %></li>
      </ul>
    </div>
  </div>
</nav>
