<h1><%= t('editing') %>  Post</h1>
<%= form_for(@post, url:website_blog_post_path(@website, @blog, @post, locale: I18n.locale) ) do |f| %>

  <%= render 'form', f:f %>

  <div class="form-group">
    <%= f.submit t('.update'), class:"btn btn-primary" %>
  </div>
  <% end %>

<%= link_to fa_icon('folder-open-o'), website_blog_post_path(@website, @blog,@post, locale:I18n.locale) %> |
<%= link_to fa_icon('arrow-circle-left'), website_blog_posts_path(@website, @blog,locale:I18n.locale) %>
