<%= content_tag :div, class: text.col_span do -%>
  <div class="card" data-id="<%=text.id%>">
    <%= text.col_span %>
    <h3><%= text.title %></h3>
    <p><%= text.content %></p>
  </div>
<% end -%>
